.HlavniNadpis{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60;
    border: 1px black;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    max-width: 600px;
    margin: auto;

}
.item
{
    
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    color: white;
    background-color: red;

}
.ItemText
{
    
}

